<div>
  <div class="contact-us-container">
    <div class="contact-us-section">
      <div class="contact-us-section-heading">Contact Us</div>
      <div class="contact-us-section-divider"></div>
    </div>
    <div class="contact-us-content">
      <!-- CONTACT US CONTENT ME 2 DIV AYENGE, EK ME CONTACT DETAILS AND EK ME MAIL -->
      <div class="contact-us-details">
        <div class="contact-us-details-section">
          <div>
            <img src="./assets/imgs/locationIcon.png" class="contact-us-icons">
          </div>
          <div class="contact-us-details-section-content">21, Ashwini Bazar <br> Udaipur (Raj.)</div>
        </div>
        <div class="contact-us-details-section">
          <div>
            <img src="./assets/imgs/callIcon.png" class="contact-us-icons">
          </div>
          <div class="contact-us-details-section-content">+91-9414167840, +91-9829043839 <br> 0294 - 2526784, 2422446
          </div>
        </div>
        <div class="contact-us-details-section">
          <div>
            <img src="./assets/imgs/mailIcon.png" class="contact-us-icons">
          </div>
          <div class="contact-us-details-section-content">gmsudp@yahoo.in</div>
        </div>
        <div class="contact-us-details-section">
          <div>
            <img src="./assets/imgs/clockIcon.png" class="contact-us-icons">
          </div>
          <div class="contact-us-details-section-content">Monday - Saturday : 10:00am - 06:00pm</div>
        </div>
      </div>
      <!-- <div class="contact-us-mail">
        <form action="mailto:ostwalneerav@gmail.com" method="post" enctype="text/plain">
          <div class="contact-us-mail-section-1">
            <div>
              <div>First Name</div>
              <input type="name" placeholder="First Name" class="input-box" required>
            </div>
            <div>
              <div>Last Name</div>
              <input type="name" placeholder="Last Name" class="input-box" required>
            </div>
          </div>
          <div class="contact-us-mail-section-2">
            <div>
              <div>Email</div>
              <input type="email" placeholder="Email" class="input-box" required>
            </div>
            <div>
              <div>Subject</div>
              <input type="name" placeholder="Subject" class="input-box" required>
            </div>
          </div>
          <div class="contact-us-mail-section-3">
            <textarea rows="4" placeholder="Comment" class="textarea-box"></textarea>
          </div>
          <div class="contact-us-mail-section-4">
            <input type="submit" value="Send" class="submit-button">
          </div>
        </form>
      </div> -->
    </div>
  </div>
</div>
