<div>
  <div class="about-us-container">
    <div class="about-us-section">
      <div class="about-us-section-heading">About Company</div>
      <div class="about-us-section-divider"></div>
    </div>
    <div class="about-us-section-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula velit sit amet risus tempor, quis semper
      metus volutpat. Nullam malesuada lorem vel dictum malesuada. Nunc quis nisi elementum, bibendum libero ut,
      egestas urna. Pellentesque ac nisi at tortor blandit facilisis non a erat. Sed pellentesque blandit orci, non
      pretium risus lacinia eget. Vestibulum lobortis vitae enim id vestibulum. Vestibulum eleifend urna eros, quis
      malesuada nulla rutrum rutrum. Pellentesque sed nulla ex. Interdum et malesuada fames ac ante ipsum primis in
      faucibus. Mauris fringilla magna vitae molestie venenatis. Vestibulum ante ipsum primis in faucibus orci luctus
      et ultrices posuere cubilia Curae; Fusce facilisis lorem metus, sit amet bibendum nisi venenatis eu. Proin
      rhoncus luctus elit ac tincidunt.

      <br><br><br>

      Duis ac rutrum eros. Proin sodales ac ex at bibendum. Donec consequat faucibus risus in pharetra. Donec lacinia
      rutrum felis id maximus. Maecenas sit amet sagittis lectus, eget pellentesque justo. Integer in sagittis tellus.
      Nam eget vulputate elit. Vestibulum maximus tempor justo, tristique auctor augue egestas sit amet. Proin
      sollicitudin placerat tortor ac molestie.
    </div>
    <div class="about-us-section-facts">
      <div class="facts-div">
        <div class="facts-number">{{experience}}</div>
        <div class="facts-heading">YEARS EXPERIENCE</div>
        <div class="facts-text">Demonstrates our experience in the industry</div>
      </div>
      <div class="facts-div">
        <div class="facts-number">{{staff}}</div>
        <div class="facts-heading">STAFF MEMBERS</div>
        <div class="facts-text">Reaffirms our capacity, efficiency and calibre in the field</div>
      </div>
      <div class="facts-div">
        <div class="facts-number">{{clients}}</div>
        <div class="facts-heading">HAPPY CLIENTS</div>
        <div class="facts-text">Represents our pride and image in the market</div>
      </div>
    </div>
  </div>
</div>
