<div>
  <div class="image-container">
    <div class="image-box">
      <img src="./assets/imgs/kanaflexCompany.JPG" alt="Kanaflex">
    </div>
    <div class="image-box">
      <img src="./assets/imgs/cpvcCompany.JPG" alt="CPVC">
    </div>
    <div class="image-box">
      <img src="./assets/imgs/duplonCompany.JPG" alt="Duplon">
    </div>
    <div class="image-box">
      <img src="./assets/imgs/hdpeCompany.JPG" alt="HDPE">
    </div>
    <div class="image-box">
      <img src="./assets/imgs/waterTankCompany.JPG" alt="Water Tank">
    </div>
    <div class="image-box">
      <img src="./assets/imgs/neoSealCompany.jpg" alt="Neo Seal">
    </div>
    <div class="image-box">
      <img src="./assets/imgs/tufRopesCompany.JPG" alt="TUF Ropes">
    </div>
    <div class="image-box">
      <img src="./assets/imgs/venturaCompany.jpg" alt="Ventura">
    </div>
  </div>
</div>
