<div>
  <div class="product-container">
    <div class="product-section-1">
      <div class="product-section-title">Our Products</div>
      <div class="product-section-divider"></div>
    </div>
    <div class="product-section-2">
      <div class="product-1">
        <img style="height: 100%; width: 100%;" src="assets/imgs/kanaflexProduct.jpg" />
        <div class="product-description">Kanaflex Pipe</div>
      </div>
      <div class="product-2">
        <img style="height: 100%; width: 100%;" src="assets/imgs/hdpeProduct.jpg" />
        <div class="product-description">HDPE Pipe</div>
      </div>
      <div class="product-3">
        <img style="height: 100%; width: 100%;" src="assets/imgs/tankProduct.jpg" />
        <div class="product-description">Water Tank</div>
      </div>
      <div class="product-4">
        <img style="height: 100%; width: 100%;" src="assets/imgs/cpvcProduct.jpg" />
        <div class="product-description">CPVC Pipe</div>
      </div>
      <div class="product-5">
          <img style="height: 100%; width: 100%;" src="assets/imgs/ropesProduct.jpg" />
          <div class="product-description">TUF Ropes</div>
      </div>
      <div class="product-6">
          <img style="height: 100%; width: 100%;" src="assets/imgs/sharpProduct.jpg" />
          <div class="product-description">Sharp Pumps</div>
      </div>
    </div>
  </div>
</div>